{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Register</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        {% for error in form.username.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                        <input type="text" class="form-control" name="username" id="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="first_name" class="form-label">First Name</label>
                        <input type="text" class="form-control" name="first_name" id="first_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="last_name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" name="last_name" id="last_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        {% for error in form.email.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password1" class="form-label">Password</label>
                        {% for error in form.password1.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                        <input type="password" class="form-control" name="password1" id="password1" required>
                    </div>
                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirm Password</label>
                        {% for error in form.password2.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                        <input type="password" class="form-control" name="password2" id="password2" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Register</button>
                        <p class="small">Or <a href="{% url 'main:login' %}">login</a>if you have an account</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}